@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300;1,900&family=Patrick+Hand+SC&family=Rock+Salt&family=Six+Caps&family=Tiro+Telugu:ital@0;1&display=swap');/* LATO, PATRICK HAND SC, ROCK SALT, TIRO TELUGU, */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');/* ROBOTO MONO */



$font-family: 'Lato', sans-serif;
$font-family-2: 'Patrick Hand SC', cursive;
$font-family-3: 'Rock Salt', cursive;
$font-family-4: 'Six Caps', sans-serif;
$font-family-5: 'Tiro Telugu', sans-serif;
$font-family-6: 'Roboto Mono', monospace;


body{
background-color: rgb(58, 62, 65);
font-size: 35rem important;
}

h2 {
font-family: $font-family-6;
color: rgb(0, 0, 0);
}

.img-thumbnail {
border-radius: 50%;
size: 25%;
}

#avatar {
    max-height: 375px;
    width: 300px;
    border-radius: 30px;
    border: 5px solid #000000;
    
}

p {
font-family: $font-family-6;
font-weight: bolder;
color: black;
text-indent: 10px;
}
main {
    margin: auto;
    max-width: 90%;
    padding: 50px, 30px;
}
.icon {
    padding: 10px;
}
.space-between {
    justify-content: space-between;
  }
  nav  li {
    cursor: pointer;
  }
  section {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    padding: 50px;
  

  }

  div {
    
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
  }

  .container {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    padding: 50px;
  }
  // .Accordion.body.space-between {
  //   justify-content: space-between;
  // }
  
  .p1.space-between {
    justify-content: space-between;
    text-align: left;
  }


  // .p {
  //   font-family: lobster;
  //   justify-content: space-between;
  //   text-align: left;


  // }

  row {
    justify-content: space-between;
  }

  div.card.body {
    height: fit-content
      ;
  }
  .card-body {
    flex: none;

  }

  // botton.clear {
  // align-items: flex-start;
  // }

  div.card {
    border: 1.5px solid grey;
  box-shadow:5px salmon  #bdc3c7;
    border-style: solid;
    border-radius: 12px;
    align-items: center;
    // justify-content: center;
    text-align: center;
    justify-items: flex-start;
  }
 .card-img {
  align-items: baseline;
 }
 
 div.card-footer {
  align-items: flex-start;
 }